@font-face {
    font-family: 'heuristicaregularregular';
    src: url('heuristica-regular.eot');
    src: url('heuristica-regular.eot?#iefix') format('embedded-opentype'),
         url('heuristica-regular.woff') format('woff'),
         url('heuristica-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'heuristicaboldbold';
    src: url('heuristica-bold.eot');
    src: url('heuristica-bold.eot?#iefix') format('embedded-opentype'),
         url('heuristica-bold.woff') format('woff'),
         url('heuristica-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'heuristicaitalicitalic';
    src: url('heuristica-italic.eot');
    src: url('heuristica-italic.eot?#iefix') format('embedded-opentype'),
         url('heuristica-italic.woff') format('woff'),
         url('heuristica-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'heuristicabolditalicBdIt';
    src: url('heuristica-bolditalic.eot');
    src: url('heuristica-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('heuristica-bolditalic.woff') format('woff'),
         url('heuristica-bolditalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}